@import '../variables';

:local(.magnifier) {
  padding: 0 8px;
}

:local(.searchBar) {
  align-items: center;
  border-radius: 4px;
  background-color: #efefef;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 8px;
  width: 100%;
}

:local(.searchBox) {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  color: #555;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  text-overflow: ellipsis;
  width: 100%;
}
