$color-background: #fcfcfc;

$color-blue: #3aa3e3;
$color-border: #e8e8e8;
$color-channelIcon: #a09a9f;
$color-channels: #4d394b;
$color-channelsActive: #3e313c;
$color-grayText: #9e9ea6;
$color-green: #2ab27b;
$color-keyBorder: #DEDEDE;
$color-menuBorder: rgba(#E6E6E6, 0.8);
$color-menuSecondary: #A0A0A2;
$color-modifierBorder: #8cd5b7;
$color-moreMenuItem: #f2f2f5;
$color-primary: #555459;
$color-red: #eb4d5c;
$color-text: #2c2d30;
$color-yellow: #edb431;